<style>
	:root {
		--light: #fdfdfd;
		--med: #e1e1e1;
		--dark: #1a1a1a;
	}

	html {
		background-color: var(--dark);
		color: var(--light);
		text-align: justify;
	}

	a {
		color: var(--light);
	}

	blockquote {
		color: var(--med);
	}

	hr {
		background-color: var(--light);
	}

	tbody {
		border-color: var(--light);
	}
</style>
